DB_HOST=localhost
DB_PORT=5435
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=taskcy
ACCESS_TOKEN_SECRET=qwerty
REFRESH_TOKEN_SECRET=qwerty
SMTP_HOST=smtp.yourdomain.com
SMTP_PORT=587
SMTP_USER=youruser@yourdomain.com
SMTP_PASSWORD=yourpassword
